:root {
  --green-100: #e8f6e8;
  --green-200: #b4e3b4;
  --green-300: #6fcc6f;
  --green-400: #3aab3a;
  --green-500: #16a116;
  --green-600: #107c10;
  --green-700: #0e6a0e;
  --green-800: #0b5a0b;
  --green-900: #053b05;
  --green-neon: #9bf00b;
  --neutral-0: #fff;
  --neutral-50: #f2f2f2;
  --neutral-100: #e6e6e6;
  --neutral-200: #c8c8c8;
  --neutral-300: #a6a6a6;
  --neutral-400: #767676;
  --neutral-500: #505050;
  --neutral-600: #3a3a3a;
  --neutral-700: #2a2a2a;
  --neutral-800: #1a1a1a;
  --neutral-900: #101010;
  --neutral-950: #0b0b0b;
  --neutral-1000: #000;
  --red-500: #d13438;
  --amber-500: #ffb900;
  --blue-500: #0078d4;
  --blue-600: #005a9e;
  --white-a04: rgba(255, 255, 255, 0.04);
  --white-a08: rgba(255, 255, 255, 0.08);
  --white-a12: rgba(255, 255, 255, 0.12);
  --white-a20: rgba(255, 255, 255, 0.2);
  --white-a40: rgba(255, 255, 255, 0.4);
  --white-a60: rgba(255, 255, 255, 0.6);
  --white-a80: rgba(255, 255, 255, 0.8);
  --black-a20: rgba(0, 0, 0, 0.2);
  --black-a40: rgba(0, 0, 0, 0.4);
  --black-a60: rgba(0, 0, 0, 0.6);
  --black-a80: rgba(0, 0, 0, 0.8);
}
